<h1>Links</h1>
<p><a href="http://how-to-draw.com">How To Draw</a></p>
<p><a href="http://watercolorpainting.com/watercolor-tutorials.htm">Learn to Paint with Watercolours</a></p>
<p><a href="http://gardendesign.com">Garden Design</a></p>
<p><a href="http://ted.com/topics/creativity">TED Talks on Creativitiy</a></p>
<p><a href="http://creativityaustralia.org.au">Creativity Australia</a></p>
<p><a href="http://psychologytoday.com/basics/creativity">Pyschology and Creativity</a></p>
